.component-choice {
  &-button {
    padding: 10px;
    margin: 5px;
    border: 0;

    &:nth-child(2n) {
      background-color: rgba(100, 100, 0, 0.5);
    }
  
    &:nth-child(2n - 1) {
      background-color: rgba(0, 100, 100, 0.5);
    }
  }

  &-wrapper {
  }
}